.account_info {
	border-radius: 10px;
	background-color: #0296db;
	min-height: 630px;
	border: 3px groove #01DDC7;
}

.account_info p {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 18px;
}

.account_info h3 {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.edit {
	margin: 5px 5px 5px 5px;
}

.my_projects {
	border-radius: 10px;
	background-color: #0296db;
	min-height: 630px;
	border: 3px groove #01DDC7;
}

.my_projects h3 {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.activity_feeds {
	border-radius: 10px;
	background-color: #0296db;
	min-height: 300px;
}

.my_projects a {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #383838;
}

.my_projects li {
	font-size: 25px;
}

.my_projects a:hover {
	text-decoration: none;
	color: white;
}

hr {
	color: white;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
}

.small_buffer {
	padding-top: 10px;
}

.projects_header h3, a {
    display: inline-block;
}

.projects_header a {
    color: #383838;
    padding-left: 5px;
    font-size: 22px;
}

.projects_header a:hover {
    color: white;
}