{% extends 'project_ticket/base.html' %}
{% block 'content' %}
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 addticket">

			<form action='{{ request.path }}' method="POST" enctype="multipart/form-data">

			{% csrf_token %}

                        
            <div class="fieldWrapper">
            	<p>{{form.project.errors}}</p>
				<p><label for="project">Project:</label></p>
				<p>{{form.project}}</p>
			</div>

        	<div class="fieldWrapper">
				<p>{{form.name.errors}}</p>
				<p><label for="name">Name:</label></p>
				<p>{{form.name}}</p>
			</div>

			<div class="fieldWrapper">
				<p>{{form.description.errors}}</p>
				<p><label for="description">Description:</label></p>
				<p>{{form.description}}</p>
			</div>

			<div class="fieldWrapper">
            	<p>{{form.developer.errors}}</p>
				<p><label for="developer">Developer:</label></p>
				<p>{{form.developer}}</p>
			</div>

			<div class="fieldWrapper">
            	<p>{{form.status.errors}}</p>
				<p><label for="status">Ticket Status:</label></p>
				<p>{{form.status}}</p>
			</div>



            <p><p align="center">
            <input type="submit" value="Save" onclick="window.location.replace('{% url 'addticket' %}')">
			<input class="reset" type="button" value="Cancel" 
					onclick="window.location.replace('{% url 'profile' %}')">
			</p></p>
			
        	</form>
		</div>
		<div class="col-md-4"></div>
		</div>
	</div>
{% endblock %}