<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/landing_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/bootstrap.min.css' %}" />
	</head>
	<body>
		<div class="banner">
			<h1> Apollo </h1>
		</div>
		
		<div class="wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="tag_line">
						<h2> "We put the G in GUI cause were G's" - David Olson, Xepler </h2>
					</div>

					<div class="button_group">
						<a href="{% url 'register' %}"> <button class="btn btn-primary btn-lg"> Register </button> </a>
						<a href="{% url 'login' %}"> <button class="btn btn-success btn-lg"> Login </button> </a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>