<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/landingstyle.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/bootstrap.min.css' %}" />
	</head>
	<body>
		
		<div class="banner">
			<div id="logo"><h1> Apollo </h1></div>
		</div>

		<div class="wrapper">
			<div class="row">
				
				<div class="col-md-12 content">
					<h2> "We put the G in GUI cause were G's" - David Olson, Xepler </h2>
						<div class="buttons">
							<a href="{% url 'login' %}"><button class="btn btn-primary btn-lg"> Log In </button></a>
							<a href="{% url 'register' %}"><button class="btn btn-success btn-lg"> Sign Up </button></a>
						</div>
					</div>
				</div>
			
			</div>
		</div>

	</body>
</html>