<html>
	<head>
		{% load staticfiles %}
		<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/css/landing_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/css/bootstrap.min.css' %}" />
	</head>
	<body>
		<div class="banner">
			<h1> Apollo </h1>
		</div>
		
		<div class="wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4 content">
							<h2> Innovation </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat quam, porta et magna eu, tristique fermentum nisi. Phasellus laoreet consequat turpis, bibendum efficitur nibh pharetra in. Aliquam ornare lobortis diam, at tincidunt lacus ornare non. Suspendisse.</p>
						</div>
						<div class="col-md-4 content">
							<h2> Creativity </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat quam, porta et magna eu, tristique fermentum nisi. Phasellus laoreet consequat turpis, bibendum efficitur nibh pharetra in. Aliquam ornare lobortis diam, at tincidunt lacus ornare non. Suspendisse.</p>
						</div>
						<div class="col-md-4 content">
							<h2> Management </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat quam, porta et magna eu, tristique fermentum nisi. Phasellus laoreet consequat turpis, bibendum efficitur nibh pharetra in. Aliquam ornare lobortis diam, at tincidunt lacus ornare non. Suspendisse.</p>
						</div>
					</div>

					<hr class="section_line">



					<div class="tag_line">
						<h2> "We put the G in GUI cause were G's" - David Olson, Xepler </h2>
					</div>

					<div class="button_group">
						<a href="{% url 'register' %}"> <button class="btn btn-primary btn-lg"> Register </button> </a>
						<a href="{% url 'login' %}"> <button class="btn btn-success btn-lg"> Login </button> </a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>