<!DOCTYPE html>
<html lang="en" ng-app="ProjectView">
  <head>
    <meta charset="utf-8">
	
	{% load staticfiles %}
	<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/css/project_style.css' %}" />
	<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
	<script type="text/javascript" src="{% static 'project_ticket/js/controllers.js' %}"></script>
  </head>
  <body>
  	<div class="navbar" ng-controller="NavController as navctrl">
  		<a href ng-click="navctrl.displayMenu()"><i class="fa fa-bars fa-2x menu_icon pull-right"></i></a>
  	</div>

  	<div class="ticket_container">

  	</div>

  	<div class="project_container">

  	</div>

  	<div class="activity_container">

  	</div>

  </body>
</html>