{% extends 'project_ticket/base.html' %}
{% load staticfiles %}

{% block 'styling' %}
	<link rel="stylesheet" type="text/css" href="{% static 'project_ticket/css/ticket_style.css' %}" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
	<script src="{% static 'project_ticket/js/controllers.js' %}"></script>
{% endblock %}

{% block 'content' %}
	<div ng-app="Ticket" ng-controller="TicketController as ticketctrl">
		<div class="small_buffer"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="ticket_detail">
					<div class="header">
						<h2> {{ ticket.name }} </h2>

						<!-- Insert selector for ticket status here -->
					</div>

					<hr>
					<p> {{ ticket.description_ticket }} </p>

				</div>
			</div>
		</div>

		<div class="small_buffer"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="comments">
					<h2> Comments: </h2>

					<div class="text_box">
						<form action="{{ request.path}}" method="POST">
							{% csrf_token %}
							<div style="overflow: hidden; display: inline-block; border-radius: 10px;">
							{{ form.comment }}
							</div>
							<p><input type="submit" value="Submit" class="btn btn-default"></p>
						</form>
					</div>
					
					<hr>
					
					{% for comment in comments %}
						<div class="comment_buffer"></div>
						<div class="comment_box">
							<h4> {{ comment.recent_user }}</h4>
							<h6> {{ comment.text }}</h6>
							<h6> {{ comment.date_submitted }}</h6>
						</div>
						<div class="comment_buffer"></div>
					{% endfor %}

					</div>
				</div>
			</div>

			<div class="small_buffer"></div>
		</div>
	</div>
{% endblock %}